Repository VKCOM/kphp, pull requests merged in 2022-12, with the labels that each got.

#684 detect incorrect encoding names for mb_functions
  builtin-functions/_functions.txt
  runtime/interface.cpp
  runtime/mbstring.cpp
  runtime/mbstring.h
Labels: refactoring, runtime

#699 [compiler] optimize `op_append` with concat rhs
  compiler/code-gen/naming.h
  compiler/code-gen/vertex-compiler.cpp
  tests/benchmarks/BenchmarkConcat.php
  tests/phpt/optimizations/010_str_concat.php
Labels: optimization

#474 AARCH64 assembly support
  cmake/init-compilation-flags.cmake
  common/algorithms/simd-int-to-string.cpp
  common/crc32c_aarch64.cpp
  common/crypto/aes256-aarch64.cpp
  common/crypto/aes256-arm64.cpp
  common/cycleclock.h
  common/fast-backtrace.cpp
  common/precise-time.cpp
  common/precise-time.h
  common/server/crash-dump.cpp
  common/tl/query-header.cpp
  compiler/compiler-settings.cpp
  compiler/kphp2cpp.cpp
  runtime/array.inl
  runtime/array_decl.inl
  runtime/interface.cpp
  runtime/kphp-backtrace.cpp
  runtime/regexp.cpp
  server/job-workers/job-worker-server.cpp
  server/php-master-restart.h
  server/ucontext-portable.h
  tests/python/lib/stats_receiver.py
  tests/python/tests/http_server/php/index.php
  tests/python/tests/http_server/test_errors.py
  tests/tests.cmake
Labels: enhancement
