Repository VKCOM/kphp, pull requests merged in 2023-05, with the labels that each got.

#820 Add `get_kphp_cluster_name()` function
  builtin-functions/_functions.txt
  runtime/interface.cpp
  runtime/interface.h
Labels: runtime

#821 [runtime] save rpc error code in rpc_tl_query_result_one()
  runtime/rpc.cpp
  runtime/rpc.h
  runtime/typed_rpc.cpp
Labels: small fix, runtime

#818 [runtime] add incremental compression
  builtin-functions/_functions.txt
  runtime/interface.cpp
  runtime/rpc.cpp
  runtime/zlib.cpp
  runtime/zlib.h
  tests/phpt/pk/016_gzip.php
Labels: enhancement, runtime

#826 Remove `wait_all_forks_on_finish` mode
  builtin-functions/_functions.txt
  compiler/code-gen/files/init-scripts.cpp
  runtime/interface.cpp
  runtime/interface.h
  runtime/php_assert.cpp
  runtime/php_assert.h
  runtime/resumable.cpp
  runtime/resumable.h
  tests/phpt/fork/017_exit_from_fork.php
  tests/phpt/fork/018_exit_from_fork.php
  tests/phpt/fork/022_wait_all_forks_on_finish.php
  tests/phpt/fork/024_wait_all_forks_on_finish_with_main_exit.php
Labels: runtime

#806 [compiler] Improve AST traversal DFS in case of x86_64
  compiler/function-pass.h
  compiler/vertex-meta_op_base.h
Labels: optimization

#828 Improve error message at job workers response storing
  runtime/job-workers/server-functions.cpp
  server/job-workers/job-worker-server.cpp
Labels: small fix

#829 add function to enable demangled stacktrace in json logs
  builtin-functions/_functions.txt
  runtime/interface.cpp
  runtime/interface.h
  runtime/php_assert.cpp
  server/json-logger.cpp
  server/json-logger.h
Labels: runtime

#833 remove extra logs of connection status
  server/php-runner.cpp
  server/php-runner.h
  server/php-worker.cpp
Labels: runtime

#832 added --server-config and --master-name options
  runtime/interface.cpp
  server/master-name.cpp
  server/master-name.h
  server/php-engine.cpp
  server/php-master.cpp
  server/server-config.cpp
  server/server-config.h
  server/server.cmake
  tests/cpp/server/cluster-name-test.cpp
  tests/cpp/server/master-name-test.cpp
  tests/cpp/server/server-config-test.cpp
  tests/cpp/server/server-tests.cmake
  tests/python/lib/kphp_server.py
  tests/python/tests/http_server/php/data/server-config.yml
  tests/python/tests/http_server/test_server_config.py
Labels: runtime
