Repository VKCOM/kphp, pull requests merged in 2023-03, with the labels that each got.

#762 OOM handler
  builtin-functions/_functions.txt
  compiler/pipes/register-kphp-configuration.cpp
  compiler/pipes/register-kphp-configuration.h
  runtime/allocator.cpp
  runtime/allocator.h
  runtime/interface.cpp
  runtime/interface.h
  runtime/memory_resource/monotonic_buffer_resource.cpp
  runtime/memory_resource/unsynchronized_pool_resource.cpp
  runtime/memory_resource/unsynchronized_pool_resource.h
  runtime/oom_handler.cpp
  runtime/oom_handler.h
  runtime/resumable.cpp
  runtime/resumable.h
  runtime/runtime.cmake
  server/database-drivers/adaptor.cpp
  server/php-engine-vars.cpp
  server/php-engine-vars.h
  server/php-engine.cpp
  server/php-queries.cpp
  server/php-runner.cpp
  server/php-runner.h
  server/php-worker.cpp
  tests/phpt/kphp_configuration/8_warm_up_configuration.php
  tests/python/tests/http_server/php/A.php
  tests/python/tests/http_server/php/X2Request.php
  tests/python/tests/http_server/php/X2Response.php
  tests/python/tests/http_server/php/index.php
  tests/python/tests/http_server/php/job_worker.php
  tests/python/tests/http_server/php/test_oom_handler.php
  tests/python/tests/http_server/test_oom_handler.py
Labels: enhancement, runtime

#750 fix tmp string optimization in expr-split contexts
  compiler/code-gen/vertex-compiler.cpp
  runtime/string_functions.cpp
  runtime/string_functions.h
  tests/phpt/optimizations/010_str_concat.php
  tests/phpt/optimizations/011_md5concat.php
Labels: bug

#767 Fix shutdown functions called from timeout behaviour
  runtime/interface.cpp
  server/php-runner.cpp
  server/php-worker.cpp
  tests/python/tests/shutdown_functions/php/index.php
  tests/python/tests/shutdown_functions/test_shutdown_functions.py
  tests/python/tests/shutdown_functions/test_shutdown_functions_errors.py
  tests/python/tests/shutdown_functions/test_shutdown_functions_exceptions.py
  tests/python/tests/shutdown_functions/test_shutdown_functions_timeouts.py
Labels: bug, runtime

#760 suppress clang-tidy alert that variable may be declared as const.
  .clang-tidy
Labels: small fix

#770 classof() compatible with constexpr switch for function overloading
  compiler/code-gen/vertex-compiler.cpp
  compiler/generics-reification.cpp
  compiler/pipes/early-optimization.cpp
  compiler/pipes/instantiate-generics-and-lambdas.cpp
  compiler/rewrite-rules/replace-extern-func-calls.cpp
  tests/phpt/generics/018_classof_keyword.php
  tests/phpt/generics/020_extends_hint.php
  tests/phpt/generics/027_constexpr_switch.php
  tests/phpt/generics/123_no_use_in_lambda_typeof.php
  tests/phpt/generics/131_invalid_classof.php
Labels: small fix

#759 Causing Compile Error at reset of global constants that are initialized by non-const values
  compiler/pipes/check-modifications-of-const-vars.cpp
  compiler/pipes/erase-defines-declarations.cpp
  tests/phpt/constants/002_modification.php
Labels: differs from PHP

#771 docs: add a note about const char* return values
  docs/kphp-language/php-extensions/ffi.md
Labels: documentation, ffi

#778 Shutdown from timeouts fix
  runtime/resumable.cpp
  tests/python/tests/shutdown_functions/php/index.php
  tests/python/tests/shutdown_functions/test_shutdown_functions_timeouts.py
Labels: small fix, runtime

#779 Allow timeouts inside OOM handler
  runtime/oom_handler.cpp
  runtime/oom_handler.h
  server/php-runner.cpp
  tests/python/tests/http_server/php/test_oom_handler.php
  tests/python/tests/http_server/test_oom_handler.py
Labels: small fix, runtime

#786 Disable shutdown functions from timeouts
  runtime/interface.cpp
  tests/python/tests/shutdown_functions/test_shutdown_functions_timeouts.py
Labels: runtime

#769 cmake lists for generated sources
  CMakeLists.txt
  compiler/code-gen/files/cmake-lists-txt.cpp
  compiler/code-gen/files/cmake-lists-txt.h
  compiler/code-gen/files/init-scripts.cpp
  compiler/compiler.cmake
  compiler/pipes/code-gen.cpp
Labels: enhancement

#791 Add 75 and 90 percentiles to statsd metrics
  server/server-stats.cpp
Labels: runtime

#789 TL magic to name converting
  builtin-functions/_functions.txt
  common/tl-files/common.tl
  compiler/code-gen/files/tl2cpp/tl2cpp.cpp
  runtime/runtime.cmake
  runtime/tl/tl_magics_decoding.cpp
  runtime/tl/tl_magics_decoding.h
  server/php-queries.cpp
Labels: enhancement

#794 [runtime] fix SIGSEGV inside gmmktime
  runtime/datetime/datetime_functions.cpp
Labels: small fix, runtime

#799 Improve slot ids factories
  runtime/interface.cpp
  runtime/interface.h
  server/database-drivers/adaptor.cpp
  server/php-engine.cpp
  server/php-queries.cpp
  server/slot-ids-factory.cpp
  server/slot-ids-factory.h
Labels: runtime

#795 [runtime] fix dl_assert of unexpected connection status
  runtime/allocator.cpp
  runtime/kphp-backtrace.cpp
  runtime/kphp-backtrace.h
  server/json-logger.h
  server/php-runner.cpp
  server/php-runner.h
  server/php-worker.cpp
Labels: small fix, runtime
