Repository VKCOM/kphp, pull requests merged in 2023-08, with the labels that each got.

#881 Job workers: improved shared memory distribution
  compiler/pipes/register-kphp-configuration.cpp
  compiler/pipes/register-kphp-configuration.h
  runtime/memory_resource/extra-memory-pool.h
  server/job-workers/job-message.h
  server/job-workers/job-stats.cpp
  server/job-workers/job-worker-server.cpp
  server/job-workers/shared-memory-manager.cpp
  server/job-workers/shared-memory-manager.h
  server/php-engine.cpp
  tests/cpp/runtime/memory_resource/extra-memory-pool-test.cpp
  tests/cpp/server/job-workers/shared-memory-manager-test.cpp
  tests/phpt/kphp_configuration/8_oom_handling_memory_ratio.php
  tests/phpt/kphp_configuration/9_job_workers_shared_memory_distribution_weights.php
  tests/python/tests/job_workers/test_complex_scenario_job.py
  tests/python/tests/job_workers/test_job_errors.py
  tests/python/tests/job_workers/test_job_shared_immutable_message.py
  tests/python/tests/job_workers/test_job_shared_messages.py
Labels: enhancement, runtime

#883 add third party thread pool
  builtin-functions/_functions.txt
  common/dl-utils-lite.cpp
  common/dl-utils-lite.h
  common/stats/provider.cpp
  compiler/pipes/register-kphp-configuration.cpp
  compiler/pipes/register-kphp-configuration.h
  runtime/interface.cpp
  runtime/interface.h
  runtime/runtime.cmake
  runtime/thread-pool.cpp
  runtime/thread-pool.h
  server/php-engine.cpp
  server/php-master.cpp
  server/server-stats.cpp
  server/server-stats.h
  tests/phpt/kphp_configuration/9_thread_pool_ratio.php
  third-party/BS_thread_pool.hpp
Labels: runtime

#886 Added new stats to RPC engine.stat
  common/tl-files/common.tl
  server/php-master.cpp
  server/server-stats.cpp
  server/server-stats.h
Labels: runtime

#887 Added third-party folder to kphp deb package
  CMakeLists.txt
Labels: small fix
