Repository VKCOM/kphp, pull requests merged in 2023-09, with the labels that each got.

#896 Removed CurlEpollFdTracker completely
  runtime/curl.cpp
Labels: bug, runtime

#893 Fix curl resumable epoll related crash
  runtime/curl.cpp
Labels: bug, runtime

#898 joint arrays' buckets
  .clang-tidy
  compiler/code-gen/files/global_vars_memory_stats.cpp
  compiler/code-gen/files/tl2cpp/tl2cpp.cpp
  compiler/code-gen/raw-data.cpp
  compiler/code-gen/vertex-compiler.cpp
  runtime/array.inl
  runtime/array_decl.inl
  runtime/array_functions.cpp
  runtime/array_functions.h
  runtime/array_iterator.h
  runtime/comparison_operators.inl
  runtime/confdata-functions.cpp
  runtime/conversions_types.inl
  runtime/curl.cpp
  runtime/datetime/datetime_functions.cpp
  runtime/datetime/timelib_wrapper.cpp
  runtime/exception.cpp
  runtime/files.cpp
  runtime/from-json-processor.h
  runtime/instance-copy-processor.h
  runtime/interface.cpp
  runtime/kphp-backtrace.cpp
  runtime/memcache.cpp
  runtime/memcache.h
  runtime/misc.cpp
  runtime/mixed.inl
  runtime/msgpack/adaptors.h
  runtime/mysql.cpp
  runtime/on_kphp_warning_callback.cpp
  runtime/openssl.cpp
  runtime/pdo/pdo.cpp
  runtime/regexp.cpp
  runtime/regexp.h
  runtime/rpc.cpp
  runtime/serialize-functions.cpp
  runtime/string.inl
  runtime/string_decl.inl
  runtime/string_functions.cpp
  runtime/tl/tl_builtins.h
  runtime/to-array-processor.h
  runtime/typed_rpc.cpp
  runtime/uber-h3.cpp
  server/confdata-binlog-replay.cpp
  tests/cpp/runtime/array-int-string-keys-collision-test.cpp
  tests/cpp/runtime/runtime-tests.cmake
  tests/phpt/memory_usage/1_primitive_types.php
  tests/phpt/memory_usage/2_classes.php
  tests/phpt/memory_usage/4_interfaces.php
  tests/phpt/memory_usage/5_polymorphic_classes.php
  tests/phpt/memory_usage/6_get_global_vars_memory_stats.php
Labels: optimization, runtime

#900 fix function estimate_memory_usage() function
  runtime/array.inl
  runtime/array_decl.inl
  runtime/instance-copy-processor.cpp
  runtime/instance-copy-processor.h
  tests/phpt/memory_usage/10_arrays.php
Labels: small fix, runtime

#892 Removing the dependency on the libucontext library
  common/common.cmake
  common/server/crash-dump.cpp
  common/ucontext/ucontext-portable.h
  common/ucontext/ucontext.cpp
  common/ucontext/ucontext.h
  compiler/compiler-settings.cpp
  docs/kphp-internals/developing-and-extending-kphp/compiling-kphp-from-sources.md
  server/php-runner.h
  tests/tests.cmake
Labels: refactoring

#905 [tlo-parsing] dynamically allocate buffer for TLO file
  common/tlo-parsing/tlo-parser.cpp
  common/tlo-parsing/tlo-parser.h
Labels: small fix

#907 improved statshouse option parse
  server/php-engine.cpp
  tests/python/tests/stats/test_statshouse_smoke.py
Labels: small fix
