Repository VKCOM/kphp, pull requests merged in 2024-09, with the labels that each got.

#1087 Update K2 component modes
  compiler/code-gen/files/init-scripts.cpp
  compiler/code-gen/files/tl2cpp/tl-combinator.cpp
  compiler/compiler-core.cpp
  compiler/compiler-core.h
  compiler/compiler-settings.cpp
  compiler/compiler-settings.h
  compiler/kphp2cpp.cpp
  compiler/make/make.cpp
  compiler/pipes/calc-bad-vars.cpp
  compiler/pipes/code-gen.cpp
  runtime-light/component/component.cpp
  runtime-light/component/component.h
  runtime-light/core/globals/php-script-globals.h
  runtime-light/stdlib/exit/exit-functions.cpp
  runtime-light/streams/streams.cpp
  tests/kphp_tester.py
Labels: runtime, k2

#1093 add stubs for internal classes
  builtin-functions/kphp-light/functions.txt
  builtin-functions/kphp-light/unsupported-functions.txt
  builtin-functions/kphp-light/unsupported/arrays.txt
  builtin-functions/kphp-light/unsupported/curl.txt
  builtin-functions/kphp-light/unsupported/error.txt
  builtin-functions/kphp-light/unsupported/file.txt
  builtin-functions/kphp-light/unsupported/hash.txt
  builtin-functions/kphp-light/unsupported/job-worker.txt
  builtin-functions/kphp-light/unsupported/kphp-tracing.txt
  builtin-functions/kphp-light/unsupported/kphp_internal.txt
  builtin-functions/kphp-light/unsupported/math.txt
  builtin-functions/kphp-light/unsupported/misc.txt
  builtin-functions/kphp-light/unsupported/regex.txt
  builtin-functions/kphp-light/unsupported/serialize.txt
  builtin-functions/kphp-light/unsupported/server.txt
  builtin-functions/kphp-light/unsupported/string.txt
  builtin-functions/kphp-light/unsupported/time.txt
  builtin-functions/kphp-light/unsupported/uberh3.txt
  compiler/code-gen/declarations.cpp
  compiler/code-gen/includes.cpp
  compiler/code-gen/vertex-compiler.cpp
  compiler/data/class-data.cpp
  compiler/data/class-data.h
  compiler/gentree.cpp
  compiler/phpdoc.cpp
  compiler/phpdoc.h
  compiler/pipes/check-classes.cpp
  compiler/pipes/deduce-implicit-types-and-casts.cpp
  compiler/pipes/sort-and-inherit-classes.cpp
  runtime-core/runtime-core-context.h
  runtime-core/runtime-core.h
  runtime-light/component/component.h
  runtime-light/stdlib/array/array-functions.h
  runtime-light/stdlib/curl/curl.cpp
  runtime-light/stdlib/curl/curl.h
  runtime-light/stdlib/exception/exception-functions.h
  runtime-light/stdlib/output/print-functions.h
  runtime-light/stdlib/regex/regex-functions.h
  runtime-light/stdlib/stdlib.cmake
  runtime-light/stdlib/string/string-functions.h
  runtime-light/stdlib/system/system-functions.h
  runtime-light/utils/json-functions.h
  runtime-light/utils/to-array-processor.h
Labels: k2

#1096 add `str_getcsv` builtin support
  builtin-functions/kphp-full/_functions.txt
  runtime/streams.cpp
  runtime/streams.h
  runtime/string_functions.cpp
  runtime/string_functions.h
  tests/phpt/string_functions/011_str_getcsv.php
  tests/zend-test-list
Labels: enhancement, runtime, missing functionality

#1097 Add job workers support to K2 runtime
  builtin-functions/kphp-light/functions.txt
  builtin-functions/kphp-light/job-workers.txt
  builtin-functions/kphp-light/unsupported-functions.txt
  builtin-functions/kphp-light/unsupported/job-worker.txt
  runtime-core/class-instance/refcountable-php-classes.h
  runtime-light/component/component.cmake
  runtime-light/component/component.cpp
  runtime-light/component/component.h
  runtime-light/component/image.h
  runtime-light/component/init-functions.cpp
  runtime-light/component/init-functions.h
  runtime-light/stdlib/array/array-functions.h
  runtime-light/stdlib/fork/fork-context.h
  runtime-light/stdlib/fork/fork-functions.h
  runtime-light/stdlib/job-worker/job-worker-api.cpp
  runtime-light/stdlib/job-worker/job-worker-api.h
  runtime-light/stdlib/job-worker/job-worker-context.cpp
  runtime-light/stdlib/job-worker/job-worker-context.h
  runtime-light/stdlib/job-worker/job-worker.h
  runtime-light/stdlib/rpc/rpc-api.h
  runtime-light/stdlib/stdlib.cmake
  runtime-light/tl/tl-core.h
  runtime-light/tl/tl-functions.cpp
  runtime-light/tl/tl-functions.h
  runtime-light/tl/tl-types.cpp
  runtime-light/tl/tl-types.h
  runtime-light/tl/tl.cmake
  tests/k2-components/test_job_worker.php
  tests/k2-components/test_job_worker_multi.php
  tests/k2-components/test_job_worker_noreply.php
  tests/phpt/job_workers/3_mutable_shared_memory_piece.php
  tests/phpt/job_workers/4_not_single_shared_memory_piece_member.php
Labels: runtime, k2

#1102 Fix segfault using pipe type hint with first item as null
  compiler/class-assumptions.cpp
  tests/phpt/typehints/return_types/16_null_first_in_pipe.php
Labels: bug, compiler

#1103 K2: add support for asynchronous callbacks
  builtin-functions/kphp-light/array.txt
  builtin-functions/kphp-light/functions.txt
  builtin-functions/kphp-light/unsupported/arrays.txt
  compiler/code-gen/vertex-compiler.cpp
  runtime-light/coroutine/task.h
  runtime-light/stdlib/array/array-functions.h
  tests/k2-components/test_async_builtins.php
Labels: runtime, k2

#1104 Refactor crypto for light runtime
  runtime-light/stdlib/crypto/crypto-functions.cpp
  runtime-light/tl/tl-functions.cpp
  runtime-light/tl/tl-functions.h
  runtime-light/tl/tl-types.cpp
  runtime-light/tl/tl-types.h
Labels: refactoring, runtime, k2

#1109 Enhance K2 TL
  runtime-core/memory-resource/resource_allocator.h
  runtime-light/stdlib/crypto/crypto-functions.cpp
  runtime-light/tl/tl-core.cpp
  runtime-light/tl/tl-core.h
  runtime-light/tl/tl-functions.cpp
  runtime-light/tl/tl-functions.h
  runtime-light/tl/tl-types.cpp
  runtime-light/tl/tl-types.h
Labels: runtime, k2
