Repository VKCOM/kphp, pull requests merged in 2024-07, with the labels that each got.

#1032 Check that global var type and its init value type are the same
  compiler/code-gen/files/global-vars-reset.cpp
Labels: bug, compiler

#1030 Runtime light: RPC support
  builtin-functions/kphp-light/functions.txt
  cmake/init-compilation-flags.cmake
  compiler/code-gen/files/init-scripts.cpp
  compiler/code-gen/files/tl2cpp/tl-combinator.cpp
  compiler/code-gen/files/tl2cpp/tl-combinator.h
  compiler/code-gen/files/tl2cpp/tl-function.cpp
  compiler/code-gen/files/tl2cpp/tl-type.cpp
  compiler/code-gen/files/tl2cpp/tl-type.h
  compiler/code-gen/files/tl2cpp/tl2cpp.cpp
  runtime-core/allocator/script-allocator-managed.h
  runtime-core/memory-resource/details/memory_ordered_chunk_list.cpp
  runtime-core/memory-resource/details/memory_ordered_chunk_list.h
  runtime-core/memory-resource/extra-memory-pool.h
  runtime-core/memory-resource/monotonic_buffer_resource.h
  runtime-core/memory-resource/unsynchronized_pool_resource.cpp
  runtime-core/memory-resource/unsynchronized_pool_resource.h
  runtime-light/allocator/allocator.h
  runtime-light/allocator/runtime-light-allocator.cpp
  runtime-light/component/component.h
  runtime-light/component/image.h
  runtime-light/coroutine/task.h
  runtime-light/runtime-light.cmake
  runtime-light/stdlib/rpc/rpc-api.cpp
  runtime-light/stdlib/rpc/rpc-api.h
  runtime-light/stdlib/rpc/rpc-context.cpp
  runtime-light/stdlib/rpc/rpc-context.h
  runtime-light/stdlib/rpc/rpc-extra-headers.cpp
  runtime-light/stdlib/rpc/rpc-extra-headers.h
  runtime-light/stdlib/rpc/rpc-extra-info.cpp
  runtime-light/stdlib/rpc/rpc-extra-info.h
  runtime-light/stdlib/rpc/rpc-tl-defs.h
  runtime-light/stdlib/rpc/rpc-tl-error.cpp
  runtime-light/stdlib/rpc/rpc-tl-error.h
  runtime-light/stdlib/rpc/rpc-tl-func-base.h
  runtime-light/stdlib/rpc/rpc-tl-function.h
  runtime-light/stdlib/rpc/rpc-tl-kphp-request.h
  runtime-light/stdlib/rpc/rpc-tl-query.cpp
  runtime-light/stdlib/rpc/rpc-tl-query.h
  runtime-light/stdlib/rpc/rpc-tl-request.cpp
  runtime-light/stdlib/rpc/rpc-tl-request.h
  runtime-light/stdlib/stdlib.cmake
  runtime-light/tl/tl-builtins.cpp
  runtime-light/tl/tl-builtins.h
  runtime-light/tl/tl.cmake
  runtime-light/utils/concepts.h
  runtime/rpc.cpp
  runtime/tl/rpc_request.h
  runtime/tl/rpc_tl_query.cpp
  runtime/tl/rpc_tl_query.h
  runtime/tl/tl_builtins.h
  runtime/typed_rpc.cpp
  tests/cpp/runtime/memory_resource/details/memory_chunk_tree-test.cpp
  tests/cpp/runtime/memory_resource/details/memory_ordered_chunk_list-test.cpp
  tests/cpp/runtime/memory_resource/unsynchronized_pool_resource-test.cpp
Labels: runtime, k2

#1035 sync k2 header with header in runtime light
  compiler/code-gen/files/init-scripts.cpp
  compiler/compiler-settings.cpp
  compiler/compiler-settings.h
  compiler/kphp2cpp.cpp
  runtime-light/header.h
  runtime-light/stdlib/string-functions.cpp
  tests/k2-components/oom_loop.php
Labels: k2

#1037 Make RPC in light runtime more robust
  .gitignore
  runtime-light/stdlib/rpc/rpc-api.cpp
  runtime-light/stdlib/rpc/rpc-api.h
  runtime-light/stdlib/rpc/rpc-buffer.h
  runtime-light/stdlib/rpc/rpc-context.h
  runtime-light/stdlib/rpc/rpc-extra-headers.cpp
  runtime-light/stdlib/rpc/rpc-extra-info.cpp
  runtime-light/stdlib/rpc/rpc-extra-info.h
  runtime-light/stdlib/rpc/rpc-tl-defs.h
  runtime-light/stdlib/rpc/rpc-tl-query.cpp
  runtime-light/stdlib/rpc/rpc-tl-request.cpp
  runtime-light/tl/tl-builtins.cpp
  runtime-light/tl/tl-builtins.h
  tests/k2-components/scheme.tl
  tests/k2-components/test_rpc_memcached.php
Labels: bug, runtime, k2

#1040 Disable RPC fetch of large strings
  runtime-light/stdlib/rpc/rpc-api.cpp
  runtime-light/streams/interface.cpp
  runtime-light/streams/interface.h
Labels: runtime, k2

#1031 fixed clang --asm-operand-widths warnings for aarch
  common/crypto/aes256-aarch64.cpp
Labels: bug
