Repository VKCOM/kphp, pull requests merged in 2024-08, with the labels that each got.

#1053 fix ub on process termination
  compiler/code-gen/files/const-vars-init.cpp
Labels: bug

#1050 Runtime light: coroutine scheduler & forks
  .clangd
  builtin-functions/kphp-light/functions.txt
  compiler/code-gen/declarations.cpp
  compiler/code-gen/files/init-scripts.cpp
  compiler/code-gen/vertex-compiler.cpp
  compiler/data/function-data.h
  compiler/pipes/calc-bad-vars.cpp
  runtime-core/core-types/decl/optional.h
  runtime-core/memory-resource/resource_allocator.h
  runtime-core/utils/small-object-storage.h
  runtime-light/component/component.cpp
  runtime-light/component/component.h
  runtime-light/core/globals/php-init-scripts.h
  runtime-light/core/globals/php-script-globals.cpp
  runtime-light/coroutine/awaitable.h
  runtime-light/coroutine/task.h
  runtime-light/runtime-light.cmake
  runtime-light/runtime-light.cpp
  runtime-light/scheduler/scheduler.cmake
  runtime-light/scheduler/scheduler.cpp
  runtime-light/scheduler/scheduler.h
  runtime-light/stdlib/fork/fork-api.cpp
  runtime-light/stdlib/fork/fork-api.h
  runtime-light/stdlib/fork/fork-context.cpp
  runtime-light/stdlib/fork/fork-context.h
  runtime-light/stdlib/fork/fork.h
  runtime-light/stdlib/misc.cpp
  runtime-light/stdlib/misc.h
  runtime-light/stdlib/output-control.cpp
  runtime-light/stdlib/rpc/rpc-context.cpp
  runtime-light/stdlib/stdlib.cmake
  runtime-light/stdlib/string-functions.cpp
  runtime-light/stdlib/superglobals.cpp
  runtime-light/stdlib/superglobals.h
  runtime-light/stdlib/timer/timer.h
  runtime-light/stdlib/variable-handling.cpp
  runtime-light/streams/component-stream.cpp
  runtime-light/streams/component-stream.h
  runtime-light/streams/interface.cpp
  runtime-light/streams/interface.h
  runtime-light/streams/streams.cpp
  runtime-light/streams/streams.h
  runtime-light/utils/concepts.h
  runtime-light/utils/panic.h
  runtime-light/utils/timer.cpp
  runtime-light/utils/timer.h
  runtime-light/utils/utils.cmake
  runtime/storage.cpp
  runtime/storage.h
  tests/k2-components/yield_loop.php
Labels: runtime, k2

#1051 TL fetch: optimize tl_Dictionary
  .gitignore
  runtime/tl/tl_builtins.h
Labels: optimization, runtime

#1010 Classes in mixed
  builtin-functions/kphp-full/_functions.txt
  builtin-functions/kphp-light/functions.txt
  compiler/code-gen/declarations.cpp
  compiler/code-gen/naming.h
  compiler/code-gen/vertex-compiler.cpp
  compiler/data/class-data.cpp
  compiler/data/class-data.h
  compiler/pipes/final-check.cpp
  runtime-core/allocator/runtime-allocator.h
  runtime-core/allocator/script-allocator-managed.h
  runtime-core/class-instance/refcountable-php-classes.h
  runtime-core/core-types/comparison_operators.inl
  runtime-core/core-types/decl/mixed_decl.inl
  runtime-core/core-types/decl/string_decl.inl
  runtime-core/core-types/definition/array.inl
  runtime-core/core-types/definition/mixed.cpp
  runtime-core/core-types/definition/mixed.inl
  runtime-core/core-types/definition/string.inl
  runtime-core/core-types/kphp_type_traits.h
  runtime-core/runtime-core-context.h
  runtime-core/runtime-core.h
  runtime/json-functions.cpp
  runtime/misc.cpp
  runtime/msgpack/adaptors.h
  runtime/serialize-functions.cpp
  runtime/to-json-processor.h
  tests/phpt/class_inheritance/123_instanceof_fail.php
  tests/phpt/interfaces/125_instanceof_on_int_fail.php
  tests/phpt/mixed/non_primitive/001_store_class.php
  tests/phpt/mixed/non_primitive/002_instanceof.php
  tests/phpt/mixed/non_primitive/003_load_class.php
  tests/phpt/mixed/non_primitive/004_array_of_classes.php
  tests/phpt/mixed/non_primitive/005_polymorphism.php
  tests/phpt/mixed/non_primitive/006_inheritance.php
  tests/phpt/mixed/non_primitive/007_fields.php
  tests/phpt/mixed/non_primitive/008_forks.php
  tests/phpt/mixed/non_primitive/009_empty.php
  tests/phpt/mixed/non_primitive/010_to_mixed_with_base_class.php
  tests/phpt/mixed/non_primitive/011_equals.php
  tests/phpt/mixed/non_primitive/012_class_as_bool.php
  tests/phpt/mixed/non_primitive/013_class_as_string.php
  tests/phpt/mixed/non_primitive/014_class_as_int.php
  tests/phpt/mixed/non_primitive/015_class_as_array.php
  tests/phpt/mixed/non_primitive/101_without_to_mixed.php
Labels: enhancement, missing functionality, compiler

#1055 Make K2 RPC asynchronous
  compiler/code-gen/vertex-compiler.cpp
  runtime-core/utils/hash.h
  runtime-light/coroutine/awaitable.h
  runtime-light/coroutine/task.h
  runtime-light/scheduler/scheduler.cpp
  runtime-light/scheduler/scheduler.h
  runtime-light/stdlib/fork/fork-api.h
  runtime-light/stdlib/fork/fork-context.h
  runtime-light/stdlib/rpc/rpc-api.cpp
  runtime-light/stdlib/rpc/rpc-context.cpp
  runtime-light/stdlib/rpc/rpc-context.h
  runtime-light/stdlib/timer/timer.h
  runtime-light/streams/interface.cpp
  runtime-light/streams/interface.h
Labels: runtime, k2

#1066 Send `kphp_version` StatsHouse metric as count (not value) metric
  runtime/php_assert.cpp
  runtime/php_assert.h
  server/php-engine.cpp
  server/php-master.cpp
  server/statshouse/statshouse-manager.cpp
Labels: small fix

#1028 Do not remove empty default values for string and array respectively
  compiler/data/kphp-json-tags.cpp
  compiler/data/var-data.h
  compiler/pipes/optimization.cpp
  tests/phpt/json/38_optimized_init_val.php
Labels: bug, compiler

#1075 Fix objects in mixed in light runtime
  builtin-functions/kphp-light/functions.txt
  runtime-core/runtime-core.cmake
  runtime-light/runtime-light.cmake
  runtime-light/stdlib/variable-handling.cpp
  tests/kphp_tester.py
  tests/phpt/mixed/non_primitive/008_forks.php
  tests/phpt/mixed/non_primitive/014_class_as_int.php
  tests/phpt/mixed/non_primitive/016_var_dump.php
Labels: bug, k2

#1074 Support type erasure on task_t
  builtin-functions/kphp-light/functions.txt
  compiler/code-gen/declarations.cpp
  compiler/code-gen/vertex-compiler.cpp
  runtime-core/utils/small-object-storage.h
  runtime-light/allocator/runtime-light-allocator.cpp
  runtime-light/coroutine/awaitable.h
  runtime-light/coroutine/task.h
  runtime-light/stdlib/fork/fork-api.cpp
  runtime-light/stdlib/fork/fork-api.h
  runtime-light/stdlib/fork/fork-context.h
  runtime-light/stdlib/fork/fork.h
  runtime-light/stdlib/misc.cpp
  runtime-light/stdlib/rpc/rpc-api.cpp
  runtime-light/stdlib/string-functions.cpp
  runtime-light/stdlib/string-functions.h
  runtime-light/stdlib/timer/timer.h
  runtime-light/utils/panic.cpp
  runtime-light/utils/php_assert.cpp
  runtime-light/utils/php_assert.h
  runtime-light/utils/utils.cmake
  tests/kphp_tester.py
  tests/phpt/dl/474_flex.php
  tests/phpt/exceptions/spl/02_builtin_exceptions_1.php
  tests/phpt/fork/004_sched_yield_sleep.php
  tests/phpt/migration_php8/002_string_number_comparison.php
  tests/phpt/migration_php8/004_string_number_comparison_enable_disable.php
  tests/phpt/migration_php8/006_is_numeric.php
  tests/phpt/migration_php8/007_string_string_comparison.php
  tests/phpt/migration_php8/008_string_number_spaceship.php
  tests/phpt/migration_php8/009_blank_no_warning.php
  tests/phpt/mixed/non_primitive/008_forks.php
  tests/python/lib/kphp_builder.py
  tests/python/lib/kphp_run_once.py
Labels: runtime, k2

#1054 add get_running_fork_id and more logs
  builtin-functions/kphp-light/functions.txt
  runtime-light/component/component.cpp
  runtime-light/coroutine/awaitable.h
  runtime-light/stdlib/fork/fork-api.h
  runtime-light/stdlib/fork/fork-context.h
Labels: runtime, k2

#1078 adding stabs for unsupported whitelisted functions
  builtin-functions/kphp-light/functions.txt
  builtin-functions/kphp-light/unsupported-functions.txt
  builtin-functions/kphp-light/unsupported/arrays.txt
  builtin-functions/kphp-light/unsupported/crypto.txt
  builtin-functions/kphp-light/unsupported/curl.txt
  builtin-functions/kphp-light/unsupported/error.txt
  builtin-functions/kphp-light/unsupported/file.txt
  builtin-functions/kphp-light/unsupported/fork.txt
  builtin-functions/kphp-light/unsupported/hash.txt
  builtin-functions/kphp-light/unsupported/job-worker.txt
  builtin-functions/kphp-light/unsupported/kml.txt
  builtin-functions/kphp-light/unsupported/kphp-toggles.txt
  builtin-functions/kphp-light/unsupported/kphp-tracing.txt
  builtin-functions/kphp-light/unsupported/kphp_internal.txt
  builtin-functions/kphp-light/unsupported/math.txt
  builtin-functions/kphp-light/unsupported/misc.txt
  builtin-functions/kphp-light/unsupported/regex.txt
  builtin-functions/kphp-light/unsupported/rpc.txt
  builtin-functions/kphp-light/unsupported/serialize.txt
  builtin-functions/kphp-light/unsupported/server.txt
  builtin-functions/kphp-light/unsupported/string.txt
  builtin-functions/kphp-light/unsupported/time.txt
  builtin-functions/kphp-light/unsupported/vkext.txt
  compiler/code-gen/includes.cpp
  compiler/code-gen/vertex-compiler.cpp
  compiler/data/function-data.cpp
  compiler/data/function-data.h
  compiler/pipes/calc-func-dep.cpp
  compiler/pipes/collect-main-edges.cpp
  compiler/pipes/parse-and-apply-phpdoc.cpp
  runtime-light/component/component.h
  runtime-light/stdlib/array/array-functions.h
  runtime-light/stdlib/instance-cache/instance-cache.h
  runtime-light/stdlib/math/math.h
  runtime-light/stdlib/regex/regex-functions.cpp
  runtime-light/stdlib/regex/regex-functions.h
  runtime-light/stdlib/rpc/rpc-api.h
  runtime-light/stdlib/stdlib.cmake
  runtime-light/stdlib/string/concat.h
Labels: k2

#1084 sync k2 header
  builtin-functions/kphp-light/unsupported/crypto.txt
  runtime-light/header.h
Labels: k2
