Repository VKCOM/kphp, pull requests merged in 2024-06, with the labels that each got.

#1017 Resolve classes from `export` methods in .modulite.yaml
  compiler/pipes/collect-required-and-classes.cpp
  tests/phpt/modulite/010_mod_unreachable/Utils010/.modulite.yaml
  tests/phpt/modulite/010_mod_unreachable/Utils010/UnreachableNs/BnotherUn010.php
Labels: small fix, compiler

#1015 Resolve classes from `@param` phpdoc
  compiler/pipes/collect-required-and-classes.cpp
  tests/phpt/cl/030_resolve_from_phpdoc.php
Labels: small fix, compiler

#1013 Fix invalid `__virt_clone()` generation for abstract classes
  compiler/data/class-data.cpp
  tests/phpt/clone_keyword/010_clone_abstract.php
Labels: bug, compiler

#1012 Shorten too long file names at code generation
  compiler/pipes/code-gen.cpp
  compiler/pipes/code-gen.h
Labels: bug, compiler

#1003 Set absolute path for VK_INSTALL_DIR
  cmake/init-global-vars.cmake
Labels: small fix

#1021 added cstdint header files
  common/algorithms/hashes.h
  common/algorithms/string-algorithms.h
  compiler/compiler-settings.h
  compiler/data/performance-inspections.h
  compiler/ffi/ffi_types.h
  compiler/inferring/multi-key.h
  compiler/stage.h
Labels: small fix

#1016 Fix compilation error for lambdas in unused functions
  compiler/pipes/check-classes.cpp
  compiler/pipes/filter-only-actually-used.cpp
  compiler/pipes/generate-virtual-methods.cpp
  tests/phpt/lambdas/020_uses_in_lambda.php
Labels: small fix, compiler

#1020 Cache uname syscall invocation
  common/kernel-version.cpp
  common/kernel-version.h
  runtime/files.cpp
  server/php-engine.cpp
Labels: small fix, runtime

#1026 support runtime-light in compiler
  compiler/code-gen/code-generator.h
  compiler/code-gen/declarations.cpp
  compiler/code-gen/files/init-scripts.cpp
  compiler/code-gen/files/init-scripts.h
  compiler/code-gen/vertex-compiler.cpp
  compiler/compiler-core.cpp
  compiler/compiler-core.h
  compiler/compiler-settings.cpp
  compiler/compiler-settings.h
  compiler/data/function-data.h
  compiler/kphp2cpp.cpp
  compiler/make/make.cpp
  compiler/make/objs-to-k2-component-target.h
  compiler/pipes/calc-bad-vars.cpp
  compiler/pipes/calc-func-dep.cpp
  compiler/pipes/code-gen.cpp
  compiler/pipes/parse-and-apply-phpdoc.cpp
Labels: compiler, k2

#1024 Fix incorrect parse of integer values for double vars
  runtime/from-json-processor.h
  tests/phpt/json/37_json_float_read.php
Labels: bug, runtime
