Repository VKCOM/kphp, pull requests merged in 2024-05, with the labels that each got.

#987 Fix RPC queries being doubly wrapped
  common/rpc-headers.cpp
  common/rpc-headers.h
  runtime/rpc.cpp
  runtime/typed_rpc.h
  tests/python/tests/rpc/php/VK/TL/_common/Functions/rpcDestActor.php
  tests/python/tests/rpc/php/VK/TL/_common/Functions/rpcDestActorFlags.php
  tests/python/tests/rpc/php/VK/TL/_common/Functions/rpcDestFlags.php
  tests/python/tests/rpc/php/VK/TL/_common/Types/rpcInvokeReqExtra.php
  tests/python/tests/rpc/php/index.php
  tests/python/tests/rpc/php/rpc_extra_info.php
  tests/python/tests/rpc/php/rpc_wrappers.php
  tests/python/tests/rpc/test_rpc_extra_info.py
  tests/python/tests/rpc/test_rpc_wrappers.py
  vkext/vkext-rpc.cpp
Labels: bug, runtime

#994 Fix `VertexAdaptor` comparison
  compiler/data/vertex-adaptor.h
Labels: compiler

#991 Fix `kphp2cpp` assertion failure when using thread count is equal to `MAX_THREADS_COUNT`
  compiler/threading/tls.h
Labels: small fix, compiler
