Repository VKCOM/kphp, pull requests merged in 2024-04, with the labels that each got.

#979 [runtime] add array concat optimization
  runtime/array.inl
  tests/phpt/array/032_array_concat.php
Labels: optimization, runtime

#980 Fix KPHP_GLOBAL_SPLIT_CNT option
  compiler/code-gen/files/vars-cpp.cpp
  compiler/kphp2cpp.cpp
Labels: small fix, compiler

#982 Optionally collect metrics from rpc requests and responses
  builtin-functions/_functions.txt
  runtime/rpc.cpp
  runtime/rpc.h
  runtime/rpc_extra_info.cpp
  runtime/rpc_extra_info.h
  runtime/runtime.cmake
  runtime/typed_rpc.cpp
  runtime/typed_rpc.h
  tests/python/tests/rpc/__init__.py
  tests/python/tests/rpc/php/VK/TL/RpcFunction.php
  tests/python/tests/rpc/php/VK/TL/RpcResponse.php
  tests/python/tests/rpc/php/VK/TL/_common/Types/rpcReqResultExtra.php
  tests/python/tests/rpc/php/VK/TL/_common/Types/rpcResponseError.php
  tests/python/tests/rpc/php/VK/TL/_common/Types/rpcResponseHeader.php
  tests/python/tests/rpc/php/VK/TL/_common/Types/rpcResponseOk.php
  tests/python/tests/rpc/php/VK/TL/engine/Functions/engine_pid.php
  tests/python/tests/rpc/php/VK/TL/engine/Functions/engine_sleep.php
  tests/python/tests/rpc/php/VK/TL/engine/Functions/engine_stat.php
  tests/python/tests/rpc/php/VK/TL/engine/Functions/engine_version.php
  tests/python/tests/rpc/php/VK/TL/net/Types/net_pid.php
  tests/python/tests/rpc/php/index.php
  tests/python/tests/rpc/test_rpc_extra_info.py
  vkext/vkext-rpc-tl-serialization.cpp
  vkext/vkext.stub.php
  vkext/vkext_arginfo.h
  vkext/vkext_legacy_arginfo.h
Labels: enhancement, runtime

#985 Fix SIGSEGV in openssl_random_pseudo_bytes
  runtime/openssl.cpp
  runtime/string_decl.inl
  runtime/string_functions.cpp
  tests/phpt/openssl/9_openssl_random_pseudo_bytes.php
  tests/phpt/string_functions/010_xor_strings.php
Labels: bug, runtime
